---
layout: default
permalink: /:category/
---

<div class="breadcrumbs">
  <span class="breadcrumb"><a href="/">Home</a></span>
  <span class="breadcrumb">{{ page.category | capitalize }}</span>
</div>

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {% unless page.content == '' %}
  <p>{{ page.content }}</p>
  {% endunless %}

  <ul>
    {% assign category = site.categories.[page.category] %}
    {% for post in category %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>